#taskarea{
    height: 800px;
    position: relative;
}

#newtask{
    position: absolute;
    margin-top: 25px;
}

body{
    max-width: 500px;
    margin: auto;
}

#taskarea{
    background-color: rgb(245, 245, 209);
    border: black solid 7px;
    padding: 20px;

}

#taskarea h1{
    text-align: center;
    text-decoration: underline;
}

p#tasklist, div#newtask{
 padding-left: 100px;
 

}

p#tasklist label{
    padding-bottom: 10px;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    margin-right: 20px;
  }

  #tasklist > label > button {
    height: 20px;
    width: 20px;
    text-align: center;
    float: right;
  }

  button#add{
    height: 20px;
    width: 20px;
    text-align: center;
    float: right;
    margin-left: 135px;
  }
  
  input {
    width: 15px;
    height: 15px;
    padding: 15px;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin-right: 10px;
  }